body {
    background-color: #DAD7CD;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

header {
    background-color: #344E41;
    padding: 30px;
    border-radius: 0 0 10px 10px;
}

header>h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    margin: 30px;
    color: #FEFAE0;
}

#voting-rounds-container {
    text-align: center;
    margin: 100px auto;
    font-size: larger;
    font-weight: bolder;
}

#product-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 200px;
    justify-content: center;
    align-items: center;
}

.products-displayed {
    height: 300px;
    width: 50%;
    margin: 50px auto;
    border-radius: 10px;
    border: 2px solid #4F772D;
    transition: 500ms;
    box-shadow: 0 70px 63px -60px #132A13;
}

.products-displayed:hover {
    transform: translateY(-10px);
    box-shadow: 0 30px 63px -60px #132A13;
}

.products-displayed:active {
    transform: translateY(5px);
    box-shadow: 0 40px 63px -60px #132A13;
}

#button-container {
    margin: 100px auto;
    text-align: center;
}

#button-container button {
    padding: 5px;
}

#results-container {
    text-align: center;
    margin: 10px auto;
}