body {
    background-color: #ECF39E;
}

#voting-rounds-container {
    text-align: center;
    margin: 30px auto;
    font-size: larger;
    font-weight: bolder;
}

#product-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 200px;
    justify-content: center;
    align-items: center;
}

.products-displayed {
    height: 100%;
    width: 50%;
    margin: 30px auto;
    border-radius: 10px;
    border: 2px solid #4F772D;
    box-shadow: 0 0 0 1px #132A13;
    transition: 500ms;
}

.products-displayed:hover {
    box-shadow: 0 0 0 3px #132A13;
}

.products-displayed:active {
    box-shadow: 0 0 0 3px #132A13;
}

#button-container {
    margin: 30px auto;
    text-align: center;
}

#button-container button {
    padding: 5px;
}

#results-container {
    text-align: center;
    margin: 10px auto;
}