#voting-rounds-container {
    text-align: center;
    margin: 30px auto;
    font-size: larger;
    font-weight: bolder;
}

#product-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 200px;
    justify-content: center;
    align-items: center;
}

.products-displayed {
    height: 90%;
    width: 50%;
    margin: 30px auto;
}

#button-container {
    margin: 30px auto;
    text-align: center;
}

#button-container button {
    padding: 5px;
}

#results-container {
    text-align: center;
    margin: 10px auto;
}